@model PagedList.IPagedList<AmiiboTracker.Models.Amiibo>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<body>
    <div class="row" id="nav-link-row">
        <ul id="nav-col">
            <li>
                @Html.ActionLink("All Amiibos", "Index")
            </li>
            <li>
                @Html.ActionLink("My Amiibos", "Index", "AmiiboUserBridge")
            </li>
            <li>
                @Html.ActionLink("My Wishlist", "Index", "AmiiboUserBridge")
            </li>
        </ul>



    </div>

    @using (Html.BeginForm("Index", "Amiibos", FormMethod.Get))
    {
        <p style="float: right; margin-left: 20px; font-size: 20px;">
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" style="max-width: 480px; max-height: 100px; font-size: 18px; border-radius: 5px;" />
        </p>
    }

    <table class="table" border="0" id="searchTable">
        @for (int i = 0; i < Model.Count; i += 2)
        {
        <tr>
            <td>
                <img src="@(Model[i].Image)" style="width: 250px ; height: 300px ; " />
                <p id="amiiboName" style="font-size: 40px">@Model[i].Name</p>
                <p id="amiiboSeries" style="font-size: 25px">@Model[i].GameSeries</p>

                @if (Model[i].ReleaseAU != null)
                {
                    <p id="releaseDate">Austrailia Release: @Model[i].ReleaseAU</p>
                }

                @if (Model[i].ReleaseNA != null)
                {
                    <p id="releaseDate">USA Release: @Model[i].ReleaseNA</p>
                }
                @if (Model[i].ReleaseEU != null)
                {
                    <p id="releaseDate">Europe Release: @Model[i].ReleaseEU</p>
                }
                @if (Model[i].ReleaseJP != null)
                {
                    <p id="releaseDate">Japan Release: @Model[i].ReleaseJP</p>
                }

            </td>

            @if ((i + 1) < Model.Count())
            {
                <td>
                    <img src="@(Model[i+1].Image)" style="width: 250px ; height: 300px ; " />
                    <p id="amiiboName" style="font-size: 40px">@Model[i + 1].Name</p>
                    <p id="amiiboSeries" style="font-size: 25px">@Model[i + 1].GameSeries</p>

                    @if (Model[i + 1].ReleaseAU != null)
                    {
                        <p id="releaseDate">Austrailia Release: @Model[i + 1].ReleaseAU</p>
                    }

                    @if (Model[i + 1].ReleaseNA != null)
                    {
                        <p id="releaseDate">USA Release: @Model[i + 1].ReleaseNA</p>
                    }
                    @if (Model[i + 1].ReleaseEU != null)
                    {
                        <p id="releaseDate">Europe Release: @Model[i + 1].ReleaseEU</p>
                    }
                    @if (Model[i + 1].ReleaseJP != null)
                    {
                        <p id="releaseDate">Japan Release: @Model[i + 1].ReleaseJP</p>
                    }

                </td>
            }

        </tr>
        }
        </table>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</body>
