@model AmiiboTracker.Models.AmiiboUserBridge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AmiiboUserBridge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amiibo.AmiiboSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amiibo.AmiiboSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWishList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWishList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
